/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
.app {
    border-radius: 4px;
    margin-top: 20px;
    padding: 30px;
    background: #fff;
}